<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/index/view.css" media="all">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Prescription Modification</title>

  <script type="text/javascript">
  util = {
    qsToObject: function (qs) {
      var o = {};
      qs.replace(
        new RegExp("([^?=&]+)(=([^&]*))?", "g"),
        function ($0, $1, $2, $3) { o[$1] = $3; }
        );
      return o;
    },
    objectToQs: function (o) {
      var str = [];
      for (var k in o)
        str.push(k + "=" + o[k]);
      return str.join("&");
    },
    comparator: function (a,b) {
        if (a[0] < b[0]) return -1;
        if (a[0] > b[0]) return 1;
        return 0;
    }
  }
  </script>
</head>

<script>
var prescriptions;
var curr_inventory;
var curr_index;
$(document).ready(function() {
  $.ajax({
          type: "PUT",
          url: "updateInventory",
          data: JSON.stringify(util.qsToObject(unescape('refill=20' + '&prescription_id=7'))),
          contentType: "application/json;",
          processData: false,
          success: (function(data) {
            alert("Success, prescription added.");
            eventcheck();
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(errormsg);
          })
        });  

  $("#tabs").tabs();
  $(".datepicker").datepicker();
  eventcheck();
  updateprescriptionlist();

  $.ajax({
    type: "GET",
      url: "users/1",
      success: (function(data) {
        $('#user_info').append('<h2 style="margin:0px;">'+ data.User.name + "</h2>" +
                                "<p>Age: 21 <br />Gender: Male <br/><br/>" + 
                                "Tel: " + data.User.phone_number + "<br />" +
                                "Email: " + data.User.email + "<br />");}),
      error: (function(xhr, status, errormsg) {
        console.log(xhr);
        console.log(status);
        $('#errormsg').text(status + " " + errormsg);
      })
    });
  
  $("#addpres").on("click",function(){
    var newPrescription;
    var jsondata = util.qsToObject(unescape($('#addform input').serialize() + '&' + $('#addform select').serialize() + '&user_id=1'));
    $.ajax({
      type: "POST",
      url: "prescription/insert",
      data: JSON.stringify(jsondata),
      contentType: "application/json",
      processData: false,
      async:false,
      success: (function() {
        $.ajax({
          type: "GET",
          url: "users/1/prescriptions",
          processData: false,
          async:false,
          success: (function(data) {
            newPrescription = data.Prescriptions[Object.keys(data.Prescriptions).sort().pop()];
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(errormsg);
          })
        });  
        console.log(.)
        $.ajax({
          type: "PUT",
          url: "updateInventory",
          data: JSON.stringify(util.qsToObject(unescape('refill='+ $('#add_refill').val() + '&prescription_id=' + newPrescription.id))),
          contentType: "application/json;",
          processData: false,
          success: (function(data) {
            alert("Success, prescription added.");
            eventcheck();
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(errormsg);
          })
        });  
      }),
      error: (function(xhr, status, errormsg) {
        console.log(xhr);
        console.log(status);
        $('#errormsg').text(errormsg);
      })
    });
  });

  $("#updatepres").on("click",function(){
    var jsondata = util.qsToObject(unescape($('#updateform input').serialize() + '&' + $('#updateform select').serialize() + '&user_id=1'));
    $.ajax({
      type: "PUT",
      url: "prescription/" + prescriptions[curr_index].id + "/update",
      data: JSON.stringify(jsondata),
      contentType: "application/json",
      processData: false,
      async:false,
      success: (function() {
        $('#errormsg').text("Prescription added");
        $.ajax({
          type: "PUT",
          url: "updateInventory",
          data: JSON.stringify(util.qsToObject(unescape('refill='+ $('#update_refill').val() + '&prescription_id=' + prescriptions[curr_index].id))),
          contentType: "application/json;",
          processData: false,
          success: (function(data) {
            alert("Success, prescription updated.");
            eventcheck();
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(errormsg);
          })
        });  
      }),
      error: (function(xhr, status, errormsg) {
        console.log(xhr);
        console.log(status);
        $('#errormsg').text(errormsg);
      })
    });
  });

  $('#druglist').on('change', function() {
    var index = this.selectedIndex - 1;
    $.ajax({
      type: "GET",
      url: "prescriptions/" + prescriptions[index].id + "/inventory",
      success: (function(inventory) {
        startdate = new Date(prescriptions[index].start_date*1000);
        enddate = new Date(prescriptions[index].end_date*1000);
        $('#update_drug').val(prescriptions[index].drug);
        $('#update_dosage').val(prescriptions[index].dosage);
        $('#update_consumption_interval').val(prescriptions[index].consumption_interval);
        $('#update_refill').val(inventory);
        $('#update_start_date').val(startdate.toLocaleDateString());
        $('#update_end_date').val(enddate.toLocaleDateString());
        $('#update_starttime_hour').val(prescriptions[index].starttime_hour);
        $('#update_starttime_minute').val(prescriptions[index].starttime_minute);
      }),
      error: (function(xhr, status, errormsg) {
        console.log(xhr);
        console.log(status);
        $('#errormsg').text(status + " " + errormsg);
      })
    }); 
    curr_index = index;   
  });

  //For the frequency option dropdown
  var freq_option='';
  for(var i=1; i<25;i++) {
    freq_option += '<option value="' + i + '">' + i + '</option>';
  }
  $('.freq_option').append(freq_option);

  //For the time dropdowns
  var hour_option='', minute_option='';
  for(var i=0; i<60;i++) {
    if(i < 10) {minute_option += '<option value="0' + i + '">0' + i + '</option>';}
    else {minute_option += '<option value="' + i + '">' + i + '</option>';}
    if(i<24){hour_option += '<option value="' + i + '">' + i + '</option>';}
  }
  $('.hour_option').append(hour_option);
  $('.minute_option').append(minute_option);
});

function objectify(data) {
  var array = {};
  for(key in data) {
    $.each(data[key], function(key,value) {
      array[key] = value;
    });
  }
  return(array);
}

function eventnotice(status,drug,remaining_dosage) {
  var texthtml = "<tr>";
  if(status == 'error') {
    texthtml += '<td><img class="icon" src="../static/images/error.png"/></td>' +
    '<td>Prescription for ' + drug + ' is empty. Please refill immediately.</td>';
  }
  else if(status == 'warning') {
    texthtml += '<td><img class="icon" src="../static/images/warning.png"/></td>' +
    '<td>Prescription for ' + drug + ' is low, ' + remaining_dosage + ' more dosages left.</td>';
  }
  texthtml += "</tr>";
  $('#event_table').append(texthtml);

}

function eventcheck() {
  $.ajax({
    type: "GET",
    url: "users/1/prescriptions",
    success: (function(data) {
      prescriptions = objectify(data);
      for(key in prescriptions) {
        $.ajax({
          type: "GET",
          url: "prescriptions/" + prescriptions[key].id + "/inventory",
          async: false,
          success: (function(inventory) {
            $('#event_table').innerHTML = '';
            prescriptions[key].inventory = inventory;
            curr_inventory = inventory;
            if((inventory - prescriptions[key].dosage) < 0) {
              eventnotice('error', prescriptions[key].drug, '0');
            }
            else if((inventory - 3*prescriptions[key].dosage) < 0) {
              eventnotice('warning', prescriptions[key].drug, parseInt(inventory/prescriptions[key].dosage));
            }
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(status + " " + errormsg);
          })
        });
      }
      updateInventoryChart();
    }),
    error: (function(xhr, status, errormsg) {
      console.log(xhr);
      console.log(status);
    $('#errormsg').text(status + " " + errormsg);
    })
  });
}

function updatedruglist() {
  $.ajax({
    type: "GET",
    url: "users/1/prescriptions",
    success: (function(data) {
      prescriptions = objectify(data);
      $('#druglist').empty();
      $('#druglist').append('<option value="" disabled selected>Select a drug...</option>');
      for(key in prescriptions) {
        $('#druglist').append('<option value="' + prescriptions[key].drug + '">' + prescriptions[key].drug +'</option>');
      }
    }),
    error: (function(xhr, status, errormsg) {
      console.log(xhr);
      console.log(status);
      $('#errormsg').text(status + " " + errormsg);
    })
  });
}

function updateHistoricalConsumptionChart() {
  for(key in prescriptions) {
    $.ajax({
      type: "GET",
      url: "/prescriptions/" + prescriptions[key].id + "/consumption_history",
      async: false,
      success: (function(historical_data) {
        prescriptions[key].historical_data = historical_data;
      }),
      error: (function(xhr, status, errormsg) {
        console.log(xhr);
        console.log(status);
        $('#errormsg').text(status + " " + errormsg);
      })
    });
  }

  var dataArray = new Array();
  for(index in prescriptions){
    var dataPoints = new Array();
    for(index2 in prescriptions[index].historical_data['ConsumptionHistory']){
      var dataPoint = new Array();
      dataPoint[0] = prescriptions[index].historical_data['ConsumptionHistory'][index2].time_stamp * 1000;
      dataPoint[1] = prescriptions[index].historical_data['ConsumptionHistory'][index2].inventory;
      dataPoints.push(dataPoint);
    }
    dataPoints.sort(util.comparator);
    dataArray.push({name: prescriptions[index].drug, data: dataPoints});
  }

  $('#graph_hist_data').highcharts({
    chart: {
      type: 'line'
    },
    title: {
      text: 'Historical Consumption Data'
    },
    subtitle: {
      text: 'Clarence Chow'
    },
    xAxis: {
      type: 'datetime',
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%a %d %b %H', this.value);
        }
      }
    },
    yAxis: {
      title: {
        text: 'Drugs left'
      }
    },
    series: dataArray
  });
}

function updateInventoryChart() {
  var drug_names = new Array();
  var drug_inventory = new Array();
  for(index in prescriptions){
    drug_names.push(prescriptions[index].drug);
    drug_inventory.push(parseInt(prescriptions[index].inventory));
  }

  $('#graph_cons_activity').highcharts({
    chart: {
      type: 'bar'
    },
    title: {
      text: 'Medical Inventory'
    },
    xAxis: {
      categories: drug_names
    },
    yAxis: {
      title: {
        text: 'Medication Remaining'
      }
    },
    series: [{
      name: 'Clarence Chow',
      data: drug_inventory,
    }]
  });
}

function updateprescriptionlist() {
  $.ajax({
    type: "GET",
    url: "users/1/prescriptions",
    success: (function(data) {
      var array = objectify(data);
      $('#prescriptions').empty();
      for(key in array) {
        $.ajax({
          type: "GET",
          url: "prescriptions/" + array[key].id + "/inventory",
          async: false,
          success: (function(inventory) {
            startdate = new Date(array[key].start_date*1000);
            enddate = new Date(array[key].end_date*1000);
            $('#prescriptions').append('<tr><td>' + array[key].drug + '</td>' +
             '<td>' + array[key].dosage + '</td>' +
             '<td>' + array[key].consumption_interval + '</td>' +
             '<td>' + inventory +'</td>' +
             '<td>' + startdate.toLocaleDateString() + ' ' + startdate.toLocaleTimeString() + '</td>' +
             '<td>' + enddate.toLocaleDateString() + ' ' + enddate.toLocaleTimeString() + '</td></tr>');
          }),
          error: (function(xhr, status, errormsg) {
            console.log(xhr);
            console.log(status);
            $('#errormsg').text(status + " " + errormsg);
          })
        });
      }
      updateHistoricalConsumptionChart();
    }),
    error: (function(xhr, status, errormsg) {
      console.log(xhr);
      console.log(status);
      $('#errormsg').text(status + " " + errormsg);
    })
  });
}
</script>

<body>
  <div width="100%" id="banner">
    <h1 id="username">Jun-Pei Chow</h1>
    <h1 id="company">PPC: Patient Prescription Care</h1>
  </div>
  <table style="margin:10px;"><tr><td>
    <div style="float:left;">
      <img src="../static/images/clarencepic.png" style="display:inline-block;"/>
    </div>
  </td><td style="vertical-align:top;">
    <div id="user_info"></div>
  </td><td>
        <!-- Event Bulletin -->
    <div id="event_bulletin">
        <div id="event_title">
        <h4 id="event_title_text">Event Bulletin</h4>
      </div>
      <table id="event_table">
      </table>
    </div>
  </td></tr></table>
  <div style="clear:both;height:1px"><br/></div>
  <div id="tabs">
   <ul>
     <li><a href="#tabs-1">Add New Prescription</a></li>
     <li><a href="#tabs-2" onclick="updatedruglist()">Update Existing Prescription</a></li>
     <li><a href="#tabs-3" onclick="updateprescriptionlist()">Prescription List</a></li>
   </ul>
   <div id="tabs-1">
    <form id="addform" method="get">
      <!-- Error Messages -->
      <div id="errorbox" align="center" width="60%">
        <p id="errormsg" style="color:red;margin:0;text-align:center;min-height:15px;"></p>
      </div>
      <table class="formleft">
        <tr><td>Name of Medication: </td><td><input name="drug" type="text" /><br/></td></tr>
        <tr><td colspan="2">Dosage: </td></tr>
        <tr><td>&nbsp;&nbsp;&nbsp;Quantity: </td><td><input name="dosage" type="text" /></td></tr>
        <tr><td>&nbsp;&nbsp;&nbsp;Frequency: </td><td>Every <select class="freq_option" name="consumption_interval"></select> hours</td></tr>
        <tr><td>Add Quantity: </td><td><input id="add_refill" name="refill" type="text" /></td></tr>
      </table>
      <table class="formright">
        <tr><td colspan="2">Schedule: </td></tr>
        <tr><td>&nbsp;&nbsp;&nbsp;Start Date: </td><td><input name="start_date" type="text" class="datepicker" /></td></tr>
        <tr><td>&nbsp;&nbsp;&nbsp;End Date: </td><td><input name="end_date" type="text" class="datepicker" /></td></tr>
        <tr><td>&nbsp;&nbsp;&nbsp;Start Time:</td><td><select class="hour_option" name="starttime_hour"></select>
          <select class="minute_option" name="starttime_minute"></select>
        </table>
        <div style="clear:both;"><br/></div>
        <p style="text-align:right;"><input id="addpres" type="button" value="Add New Prescription" /></p>
      </form>
    </div>
    <div id="tabs-2">
      <!-- Error Messages -->
      <div id="errorbox" align="center" width="60%">
        <p id="errormsg" style="color:red;margin:0;text-align:center;min-height:15px;"></p>
      </div>
      <p>Drug Name: <select id="druglist"></select><br/><br/></p>
      <form id="updateform" method="get">
        <table class="formleft">
          <tr><td>Name of Medication: </td><td><input id="update_drug" name="drug" type="text" /><br/></td></tr>
          <tr><td colspan="2">Dosage: </td></tr>
          <tr><td>&nbsp;&nbsp;&nbsp;Quantity: </td><td><input id="update_dosage" name="dosage" type="text" /></td></tr>
          <tr><td>&nbsp;&nbsp;&nbsp;Frequency: </td><td>Every <select class="freq_option" id="update_consumption_interval"></select> hours</td></tr>
          <tr><td>Starting Quantity: </td><td><input id="update_refill" name="refill" type="text" /></td></tr>
        </table>
        <table class="formright">
          <tr><td colspan="2">Schedule: </td></tr>
          <tr><td>&nbsp;&nbsp;&nbsp;Start Date: </td><td><input id="update_start_date" class="datepicker" name="start_date" type="text" /></td></tr>
          <tr><td>&nbsp;&nbsp;&nbsp;End Date: </td><td><input id="update_end_date" class="datepicker" name="end_date" type="text" /></td></tr>
          <tr><td>&nbsp;&nbsp;&nbsp;Start Time:</td><td><select id="update_starttime_hour" class="hour_option" name="starttime_hour"></select>
            <select id="update_starttime_minute" class="minute_option" name="starttime_minute"></select>
          </table>
          <div style="clear:both;"><br/></div>
          <p style="text-align:right;"><input id="updatepres" type="button" value="Update Prescription" /></p>
        </form>
      </div>
      <div id="tabs-3">
        <!-- Error Messages -->
        <div id="error box" align="center" width="60%">
          <p id="errormsg" style="color:red;margin:0;text-align:center;min-height:15px;"></p>
        </div>
        <table id="prescription-list" align="center">
          <thead>
            <th>Drug Name</th>
            <th>Dosage</th>
            <th>Consumption Interval</th>
            <th>Quantity Remaining</th>
            <th>Start Date</th>
            <th>End Date</th>
          </thead>
          <tbody id="prescriptions">
          </tbody>
        </table>
      </div>
    </div>
    <div style="clear:both;"><br/></div>
    <div id="graphs">
      <div id="graph_cons_activity"></div>
      <div id="spacer" style="display:inline;width:5%;">&nbsp;</div>
      <div id="graph_hist_data"></div>
    </div>
    <div style="clear:both;height:100px"><br/></div>
  </body>
</html>