body
{
    background:#505050;
    margin:0px;
}
#banner
{
    background:#ffff00;
    height:100px;
    margin:0px;
    border:0px;
    padding:0px;
    line-height:100px;
}

#username
{
    margin:0px;

}
