body{
    background: #FFFFFF;
    font: Arial, sans-serif;
    margin: 0px;
    margin-bottom : 50px;
    width: 100%;
    height: 100%;
}

#tabs{
    font: Arial, sans-serif;
    position: relative;
    margin: 10px;
    top: 20px;
}

p {
    color: #000000;
    font: 16px Arial, sans-serif;
    margin: 0;
    text-align: left;
}
/* Banners */
#banner
{
    background: #005186;
    height: 80px;
    margin: 0px;
    border-bottom: 3px solid #000000;
    padding: 0px;
    line-height: 100px;
    clear:both;
}

#username{
    color: #FFFFFF;
    display: inline-block;
    font: 34px Arial, sans-serif;
    font-weight: 700;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}

#company {
    color: #FFFFFF;
    position:relative;
    font: 15px Arial, sans-serif;
    font-weight: 700;
    float:right;
    top:50px;
}

#user_info {
    vertical-align: middle;
    min-width:255px;
    padding-left:10px;
}
/* Event Bulletin */

#event_bulletin
{
    background: #dddddd;
    border: 3px solid #000000;
    font: 16px Arial, sans-serif;
    font-weight: bold;
    min-height: 120px;
    position: relative;
    float:right;
    min-width:625px;
}

#event_title
{
    background: #ffffff;
    margin: 0px;
    border: 2px solid #000000;
    height: 30px;
    width: 150px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
}

#event_title_text
{
   margin: 0px; 
}

#event_table
{
   position: relative;
   top: 20px;
   width: 90%;
   margin: 10px auto;
}

#timestamp
{
    text-align: right;
}

#event_icon
{
    width: 50px;
    height: 50px;
    position: relative;
}

.icon 
{
    width:20px;
    height:20px;
    text-align: left;
    vertical-align: middle;
}

/* Forms */
.formleft
{
    color: #000000;
    font: 16px Arial, sans-serif;
    width:50%;
    float:left;
    text-align: left;
}

.formright
{
    color: #000000;
    font: 16px Arial, sans-serif;
    width:50%;
    float:right;
    text-align: left;
}

.button {
    text-align: right;
    padding:2px;   
}

#prescription-list {
    border-spacing: 0;
    min-width: 800px;
}
#prescription-list th {
    background: none repeat scroll 0 0 #cccccc;
    border-bottom: 1px solid #000000;
    font: 18px Arial, sans-serif;
    font-weight: 400;
}

#prescription-list tr {
    text-align: center;
    font: 16px Arial, sans-serif;
}

#prescription-list tbody tr:nth-child(even) {
   background: #dddddd;
}

#prescription-list tbody tr:hover {
    background: #005186;
    color: #FFFFFF;
}

#graphs {
    margin:10px;
}
#graph_cons_activity {
    display:block;
    float:left;
    width:45%;
    min-height:220px;
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:2px;
}

#graph_hist_data {
    padding:2px;
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display:block;
    float:right;
    width:45%;
    min-height:220px;
    
}

#test {}